@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    font-size: 0.2cm;
    font-family: 'Montserrat';
}

body
{
    height: 9.2cm;
    width: 19.1cm;
    margin-top: 2.0cm;
    margin-bottom: 1.5cm;
    margin-left: 0.3cm;
    margin-right: 0cm;
    border: 1px solid black;
    background: var(--bg-clr);
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-clr);
    padding-top: 0cm;
    border-collapse: collapse;
}
.datoscliente{
border: 1px solid black;
border-collapse: collapse;
}
.CL_datos{
    width: 13.1cm;
    padding-left: 3cm;
}
.CL_dia{
    width: 2.1cm;
    text-align: center;
}
.CL_mes{
    width: 2cm;
    text-align: center;
}
.CL_ano{
    width: 2cm;
    text-align: center;
}
.CF_direccion{
    padding-left: 3cm;
}
.CF_dui{
    padding-left: 3cm;
}
.servicioscf{
    border: 1px solid black;
    border-collapse: collapse;
}
.blank1{
    max-width: 0.9cm;
    width: 0.9cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.blank2{
    max-width: 12.1cm;
    width: 12.1cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.blank3{
    max-width: 1.3cm;
    width: 1.3cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: left;   
}
.blank4{
    max-width: 1.3cm;
    width: 1.3cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;  
}
.blank5{
    max-width: 1.3cm;
    width: 1.3cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;  
}
.blank6{
    max-width: 2.2cm;
    width: 2.2cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: left;
}
.cantidadserv{
    max-width: 0.9cm;
    width: 0.9cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.servpro{
    max-width: 12.1cm;
    width: 12.1cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.precioserv{
    max-width: 1.3cm;
    width: 1.3cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: left;  
}
.cero1{
    max-width: 1.3cm;
    width: 1.3cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;  
}
.cero2{
    max-width: 1.3cm;
    width: 1.3cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;  
}
.precioserv2{
    max-width: 2.2cm;
    width: 2.2cm;
    max-height: 0.5cm;
    height: 0.5cm;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: left;
}
.Nal{
    position: absolute;top: 7.8cm;left: 0.3cm;
}
.son{
    width: 13.4cm;
    height: 1.3cm;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    }
.sumascf{
    position: absolute;top: 7.8cm;left: 17.2cm;
    width: 2.2cm;
    border: 1px solid black;
    border-collapse: collapse;
}
.sumprecioscf{
    border: 1px solid black;
    border-collapse: collapse;
}
.cero4{
    border: 1px solid black;
    border-collapse: collapse;
}
.sumprecioscf2{
    border: 1px solid black;
    border-collapse: collapse;
}